{% extends 'layout.twig' %}

{% block body %}
    {% if error %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">{{ error }}</div>
            </div>
        </div>
    {% endif %}

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#manage-ressource" aria-controls="profile" role="tab" data-toggle="tab">Manage ressource</a>
        </li>
        {% if personsRessources and personsRessources.length > 0 %}
            <li role="presentation">
                <a href="#show-person-ressource" aria-controls="showpersonressource" role="tab" data-toggle="tab">
                    Person ressource created</a>
            </li>
        {% endif %}
        {% if tracks and tracks.length > 0 %}
            <li role="presentation">
                <a href="#vote" aria-controls="showpersonressource" role="tab" data-toggle="tab">
                    Vote</a>
            </li>
        {% endif %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="manage-ressource">
            <div class="row">
                <div class="col-md-12">
                    <h1>Search a ressource</h1>
                    <form method="GET" action="admin/search/ressource/person">
                        <div class="form-group">
                            <label for="person-id-ressource">Person id ressource</label>
                            <input type="text" class="form-control" id="person-id-ressource"
                                   placeholder="Person id ressource"
                                   name="id">
                        </div>
                        <button type="submit" class="btn btn-success">Search</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Create Person Ressource</h1>
                    <form method="POST" action="admin/create/ressource/person">
                        <div class="form-group">
                            <label for="person-id-ressource">Person id ressource</label>
                            <input type="text" class="form-control" id="person-id-ressource"
                                   placeholder="Person id ressource"
                                   name="person_id_ressource">
                        </div>
                        <button type="submit" class="btn btn-success">Create</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Search Track Ressource</h1>
                    <form method="POST" action="admin/search/ressource/track">
                        <div class="form-group">
                            <label for="track-id-ressource">Track id ressource</label>
                            <input type="text" class="form-control" id="track-id-ressource"
                                   placeholder="Track id ressource"
                                   name="track_id_ressource">
                        </div>
                        <button type="submit" class="btn btn-success">Search</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Create Track Ressource</h1>
                    <form method="POST" action="admin/create/ressource/track">
                        <div class="form-group">
                            <label for="track-id-ressource">Track id ressource</label>
                            <input type="text" class="form-control" id="track-id-ressource"
                                   placeholder="Track id ressource"
                                   name="track_id_ressource">
                        </div>
                        <div class="form-group">
                            <label for="label">Label</label>
                            <input type="text" class="form-control" id="label" placeholder="Label"
                                   name="label">
                        </div>
                        <button type="submit" class="btn btn-success">Create</button>
                    </form>
                </div>
            </div>
        </div>


        {% if personsRessources and personsRessources.length > 0 %}
            <div role="tabpanel" class="tab-pane" id="show-person-ressource">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Id Ressource</th>
                        <th>Lastname</th>
                        <th>Firstname</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for personRessource in personsRessources %}
                        <tr>
                            <td scope="row">
                                <a href="admin/search/ressource/person?id={{ personRessource.id_ressource }}">
                                    {{ loop.index }}
                                </a>
                            </td>
                            <td>
                                <a href="admin/search/ressource/person?id={{ personRessource.id_ressource }}">
                                    {% if not personRessource.id_ressource or personRessource.id_ressource is empty %}
                                        <span class="text-info">Not specified</span>
                                    {% else %}
                                        {{ personRessource.id_ressource }}
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                <a href="admin/search/ressource/person?id={{ personRessource.id_ressource }}">
                                    {% if not personRessource.lastname or personRessource.lastname is empty %}
                                        <span class="text-info">Not specified</span>
                                    {% else %}
                                        {{ personRessource.lastname }}
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                <a href="admin/search/ressource/person?id={{ personRessource.id_ressource }}">
                                    {% if not personRessource.firstname or personRessource.firstname is empty %}
                                        <span class="text-info">Not specified</span>
                                    {% else %}
                                        {{ personRessource.firstname }}
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if tracks and tracks.length > 0 %}
            <div role="tabpanel" class="tab-pane" id="vote">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for track in tracks %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ loop.index }}" aria-expanded="true" aria-controls="collapseOne">
                                        {{ track.id_track }}
                                    </a>
                                </h4>
                            </div>
                            <div id="{{ loop.index }}" class="panel-collapse collapse {{ loop.index == 1 ? 'in' : '' }}" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Id Ressource</th>
                                            <th>Count</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ressource in track.ressources %}
                                            <tr>
                                                <td scope="row">
                                                    {{ loop.index }}
                                                </td>
                                                <td>
                                                    {{ ressource.id_ressource }}
                                                </td>
                                                <td>
                                                    {{ ressource.nb_vote }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}
    <script src="js/adminDashboard.js"></script>
{% endblock %}