<div class="form-group">
    <label for="firstname">Email sha1</label>
    <input
            type="text"
            class="form-control"
            value="{{ person_ressource.email_sha1 }}"
            disabled
    />
</div>
<div class="form-group">
    <label for="firstname">Firstname</label>
    <input
            type="text"
            class="form-control"
            id="firstname"
            placeholder="Firstname"
            name="firstname"
            value="{{ person_ressource.firstname }}"
    />
</div>
<div class="form-group">
    <label for="name">Lastname</label>
    <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Lastname"
            name="lastname"
            value="{{ person_ressource.lastname }}"
    />
</div>
<div class="form-group">
    <label for="photoUrl">Photo url</label>
    <input type="text"
           class="form-control"
           id="photoUrl"
           placeholder="Photo url"
           name="photoUrl"
           value={{ person_ressource.photoUrl }}
    />
</div>
<div class="form-group">
    <label for="homepage">Homepage</label>
    <input
            type="text"
            class="form-control"
            id="homepage"
            placeholder="Homepage"
            name="homepage"
            value="{{ person_ressource.homepage }}"
    />
</div>
<div class="form-group">
    <label for="twitterpage">Twitter account</label>
    <input
            type="text"
            class="form-control"
            id="twitterpage"
            placeholder="Twitter account"
            name="twitterpage"
            value="{{ person_ressource.twitterpage }}"
    />
</div>
<div class="form-group">
    <label for="facebookpage">Facebook account</label>
    <input
            type="text"
            class="form-control"
            id="facebookpage"
            placeholder="Facebook account"
            name="facebookpage"
            value="{{ person_ressource.facebookpage }}"
    />
</div>
<div class="form-group">
    <label for="googleaccount">Google account</label>
    <input
            type="text"
            class="form-control"
            id="googleaccount"
            placeholder="Google account"
            name="googleaccount"
            value="{{ person_ressource.googleaccount }}"
    />
</div>
<div class="form-group">
    <label for="linkedinaccount">Linkedin account</label>
    <input
            type="text"
            class="form-control"
            id="linkedinaccount"
            placeholder="Linkedin account"
            name="linkedinaccount"
            value="{{ person_ressource.linkedinaccount }}"
    />
</div>
<button type="submit" class="btn btn-success">Update informations</button>