{% extends 'layout.twig' %}

{% block body %}
    <div>

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
            </li>
            <li role="presentation">
                <a href="#changepassword" aria-controls="changepassword" role="tab" data-toggle="tab">
                    Change password</a>
            </li>
            {{ tracks_information_voted }}
            {% if person_ressource.tracks_information_voted and person_ressource.tracks_information_voted.length > 0 %}
                <li role="presentation">
                    <a href="#tracks" aria-controls="tracks" role="tab" data-toggle="tab">
                        Track
                    </a>
                </li>
            {% endif %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="profile">
                <form method="POST" action="profile">
                    {% include 'form_profile.twig' %}
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="changepassword">
                <form method="POST" action="profile/update_password">
                    <div class="form-group">
                        <label for="changepassword_password">Password</label>
                        <input type="password" class="form-control" id="changepassword_password"
                               placeholder="Password"
                               name="password"/>
                    </div>
                    <div class="form-group">
                        <label for="changepassword_confirmpassword">Confirm password</label>
                        <input type="password" class="form-control" id="changepassword_confirmpassword"
                               placeholder="Confirm password"
                               name="confirmPassword"/>
                    </div>
                    <button type="submit" class="btn btn-success">Update my password</button>
                </form>
            </div>
            {% if person_ressource.tracks_information_voted %}
                <div role="tabpanel" class="tab-pane" id="tracks">

                    {% if person_ressource.tracks_information_voted.length > 0 %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Id Track</th>
                                <th>Vote</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for track in person_ressource.tracks_information_voted %}
                                <tr>
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ track.id_track }}</td>
                                    <td>
                                        {{ track.count }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
